@import "tailwindcss";
:root {
  --whitee: #ffffff;
  --grayy: #595c5d;
  --textPrimary: #181a1c;
  --redd: #f3666d;

  --inter: "Inter", sans-serif;
  --poppins: "Poppins", sans-serif;
}

@theme {
  --color-whitee: var(--whitee);
  --color-grayy: var(--grayy);
  --color-textPrimary: var(--textPrimary);
  --color-redd: var(--redd);

  --font-inter: var(--inter);
  --font-poppins: var(--poppins);
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE এবং Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* index.css */

.red-theme-calendar .react-datepicker__day--selected,
.red-theme-calendar .selected-day {
  background-color: #f87171 !important; /* red-400 */
  color: white !important;
  border-radius: 9999px !important; /* ⭕ makes it a circle */
}

.red-theme-calendar .react-datepicker__day:hover {
  background-color: #fecaca !important; /* red-200 */
  color: #b91c1c !important; /* red-700 */
  border-radius: 9999px !important;
}

.red-theme-calendar .react-datepicker__day--keyboard-selected {
  background-color: #fca5a5 !important; /* red-300 */
  border-radius: 9999px !important;
}
